.content {
	width: 85%;
	margin: 0 auto;

	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;

}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*Header*/
.logo {
	text-align: center;
	width: 60%;
	padding-left: 0;
}

.logo path {

	-webkit-transition: fill 0.3s ease;
    -moz-transition: fill 0.3s ease;
    -ms-transition: fill 0.3s ease;
    -o-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
}

.logo:hover path {
	fill: #FFC136;

}

.header ul {
	margin-top: 4em;
	margin-right: 0;
	margin-left: 0;
	padding: 0;
	display: inline-block;
	text-align: right;
}
.header ul li {
	display: inline-block;
	font-family: 'Inconsolata', monospace !important;
	font-size: 0.8em;
	text-transform: uppercase;
}

.header ul li span {
	text-align: center;
	padding: 0 0.8em;
}

.header .section-content a {
	color: #808080;
	text-decoration: none;
}

.header .section-content a:hover {
	color: #808080;
	border-bottom: solid 2px #FFC136;
}


.section-title {
	width: 20%;
	text-align: right;
	margin-top: 4em;
	color: #505050;
	font-family: 'Inconsolata', monospace !important;
	text-transform: uppercase;
}


.currently-section {
	margin-top: 2em;

}

.separator {
	float: right;
	width: 2em;
	border-bottom: solid 2px #FFC136;
	margin-top: -1em;

}

.description {
	margin-left: 3em;
    margin-top: 4em;
    padding-left: 0;
    list-style-type: none;
}


.currently-section h1 {
	font-family: 'Titillium Web', sans-serif;
	font-size: 2em;
	text-align: left;
	font-weight: 700;
	padding-top: 0;
	margin-right: 0;
	margin-top: 0;
	line-height: 1.2em;
}

.currently-section p a {
	color: #000;
	padding: 0 0.5em;
	text-decoration: none;
	background: #f6f6f6;
	transition: all 0.5s ease;
}

.currently-section p a:hover {
	color: #fff;
	background: #FFC136;

}

.row2 {
	margin-top: 0;
}


.current {
	padding-left: 0;
	margin-left: 3em;
    margin-top: 4em;
    list-style-type: none;
}

.wishlist {
	margin-left: 3em;
    margin-top: 4em;
    padding-left: 0;
    list-style-type: none;
}

.read a {
	text-decoration: none;
	color: #232323;
	transition: all 0.5s ease;
	/*padding: 0 0.5em;
	margin: 0 -0.5em*/

}

.read a:hover {
	background: #FFC136;
}



.read {
	padding-left: 0;
	margin-left: 3em;
    margin-top: 4em;
    list-style-type: none;
}


.current h4, .wishlist h4, .read h4 {

	margin-top: 2em;
	padding-top: 0;
	
	color: #808080;
	font-size: 0.8em;
	font-family: 'Roboto Slab', serif;
	font-weight: normal;
	line-height: 0.2em;
}

.current h3, .wishlist h3, .read h3 {
	margin-top: -0.4em;
	padding-top: 0;
	line-height: 1em;
	font-size: 1em;

	transition: all 0.2s ease;
}

.book-item {
	width: 140px;
	height: 200px;
	background:  #FFC136;
	position: relative;

		opacity: 1;
		transition: all 0.2s ease;
}


/*.book-item:hover {
	opacity: 0.3;
}
*/
.book-item::before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 8px;
		right: 0;
		width: 4px;
      	background: rgba(0, 0, 0, 0.06);

			-webkit-box-shadow: 1px 0 3px rgba(255, 255, 255, 0.3);
			-moz-box-shadow:    1px 0 3px rgba(255, 255, 255, 0.3);
			box-shadow: 		1px 0 3px rgba(255, 255, 255, 0.3);


}

.single-book a {
	text-decoration: none;
	color: #303030
}
.single-book:hover .book-item {
	opacity: 0.3;
}

.single-book:hover h3 {
	color: #FFC136;
}



.goodreads {
	margin-top: 5em;

}

.goodreads a {

	font-size: 0.8em;
	color: #909090;
	transition: all 0.5s ease;
}

.goodreads a:hover {
	color: #fff;
	background: #FFC136;

}


/*Footer*/

.footer {
	margin: 2em auto;

}

.credits-name {
	color: #808080;
	font-family: 'Inconsolata', monospace !important;
	font-size: 0.8em;
	text-align: center;
}



/*Responsive Media Queries*/

@media screen and (min-width: 48em) {

	.logo {
	text-align: right;
	width: 15%;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
}

	.row2 {
	margin-top: 2em;
}

	.currently-section h1 {
		text-align: right;
		margin-right: 2em;
	}
}

@media screen and (min-width: 80em) {
	.content { width: 80%;
	}

}






